* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 0.6px;
}
.announce {
    font-size: 20px;
    color: #f00;
    font-weight: 700;
}
button {
    display: flex;
    justify-self: flex-start;
    align-self: center;
    width: 155px;
    height: 35px;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: rgb(93, 93, 241);
    color: #fff;
    font-weight: 400;
    transition: background-color 0.15s linear;
}
button:hover {
    background-color: rgb(84, 84, 209);
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}
.header-heading {
    font-size: 30px;
    margin-bottom: 20px;
}
main {
    margin-top: 55px;
}
.add {
    margin-left: 55px;
}
.input-block-element {
    margin-top: 25px;
}
.input-block, .input-block-element {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0.5px solid #888;
    width: fit-content;
    padding: 25px 55px;
    border-radius: 6px;
}
.input-block {
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    margin: 35px auto;
    transition: opacity 0.15s linear, visibility 0.15s linear;
}
.input-block.input-block-visible {
    opacity: 1;
    visibility: visible;
}
.input-block input, .input-block-element input {
    width: 255px;
    height: 35px;
    font-size: 18px;
    outline: none;
    box-shadow: none;
    border: 0.5px solid #888;
    border-radius: 4px;
    text-align: center;
}
.input-block input + input, .input-block input + button, .input-block button + button, .input-block-element input + input, .input-block-element input + button, .input-block-element button + button {
    margin-left: 15px;
}
.list-container {
    border: 1px solid #000;
    padding-left: 35px;
    width: calc(100% - 37px);
    height: fit-content;
    display: flex;
    flex-direction: column;
}