* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.announce {
    font-size: 20px;
    color: #f00;
    font-weight: 700;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}
.header-heading {
    font-size: 30px;
    margin-bottom: 20px;
}
main {
    margin-top: 55px;
}
.add {
    display: flex;
    justify-self: flex-start;
    align-self: center;
    margin-left: 55px;
    width: 155px;
    height: 35px;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: rgb(93, 93, 241);
    color: #fff;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 0.6px;
}
.element {
    margin-left: 25px;
    width: 80vw;
    height: 30px;
    content: "<input type="text" placeholder="Введите иероглиф">";
    border: 1px solid #000;
    color: #000;
}